*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    border: 2px dashed;
    min-height: 100vh;
}

.container-header{
    border: 2px dashed;
    min-height: 10vh;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    font-size:30px ;

}

.header{
    border: 2px dashed;
}

.second-leg{
    border: 2px dashed;
    display: flex;
   
}

.inner-cont{
    border: 2px dashed red;
    min-height: 60%;
    display: flex;
}


.first-cont{
    border: 2px solid green;
    min-height:30vh;
    width: 50%;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.second-cont{
    border: 2px solid blue;
    min-height:30vh ;
    width:50%;
    padding: 30px;
}

.content{
    border: 2px solid blue;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    width: 40%;
    font-size: 40px;
}

img{
    border: 2px solid blue;
    width: 50%;
    
}   